@page "/counter"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BlazorAuthIssueRepro.Shared
@inject HttpClient Http

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="AddUserToRole2">Add to Role2</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task AddUserToRole2()
    {
        try
        {
            await Http.PostAsync($"Roles/AddUserToRole?role={UserRoles.Role2}", new StringContent(string.Empty));
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
